.headBelow{
    width: 1376px;
    height: 634px;
    left: 32px;
    opacity: 0px;
    position: relative;
   top: 200px;
   margin: 0 auto;
}
.star_box , .star_box_2{
    font-family: Outfit;
    position: relative;
    width: 250px;
    height: 56px;
    top: 93px;
    left: 120px;
    padding: 8px 17px 8px 17px;
    gap: 8px;
    border-radius: 32px;
    opacity: 0px;
    display: flex;
    background: linear-gradient(94.88deg, #3EDCFF 10.93%, #C3FFB3 83.21%);   
}

.star_box_2{
    top: 369px;
    left: 822px;
    position: absolute;

}

.color_box{
    z-index: -1;
    width: 207px;
    height: 319px;
    top: 215px;
    left: 120px;
    border-radius: 30px;
    opacity: 0px;
    background: linear-gradient(180deg, #ADE0FE 0%, #B2F4CD 100%);
    position: relative;
}
.text_box{
    display: flex;
    width: 392px;
    opacity: 0px;
    flex-direction: column;
    position: absolute;
    top: 173px;
    left: 272px;
    gap: 14px;
    z-index: 3;
}
.text_box .first_box , .second_box , .third_box{
    
    height: 60px;
    border-radius: 44px;
    background-color: white;
    width: 100%;
}
.text-box-container{
    padding: 12px 24px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.first-item{
    display: flex;
    align-items: center;
    gap: 12px;
}
.first-item-p p{
    height: 36px;
    width: 36px;
    border-radius:25px;
    background-color: #E7ECF4;
    font-family: Outfit;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.p-content{
    font-family: Outfit;
}

.card_box{
    width: 334px;
    height: 199px;
    top: 137px;
    left: 822px;
    opacity: 0px;
    position: absolute;
}
.cardContainer{
    border-radius: 16px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.cardContainer .left-box img{
    width: 34.92px;
    height: 34.92px;
    top: 12px;
    left: 14px;
    padding: 3.74px 4.36px 4.36px 4.36px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

#lft-box #p1{
    width: 64px;
    height: 20px;
    top: 60px;
    left: 14px;
    gap: 0px;
    opacity: 0px;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    position: absolute;

}
#lft-box #p2{
    position: absolute;
    width: 91px;
    height: 20px;
    top: 65px;
    left: 14px;
    gap: 0px;
    opacity: 0px;
    font-family: Outfit;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
#lft-box #p3{
    position: absolute;
    width: 85px;
    height: 25px;
    top: 114px;
    left: 14px;
    gap: 0px;
    opacity: 0px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    background: linear-gradient(90deg, #3964FF 4.74%, #00A9CE 93.1%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   
}

.left-box #p4{
    width: 129px;
    height: 20px;
    top: 166px;
    left: 14px;
    gap: 0px;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    position: absolute;
    color: #6C6D6E;    
}
.color_box_2{
    z-index: -1;
    position: absolute;
    width: 350px;
    height: 400px;
    top: 80px;
    left: 920px;
    border-radius: 30px;
    opacity: 0px;
    angle: 90 deg;
    background: linear-gradient(297.87deg, #D1FCD2 12.87%, #FFF5BE 83.64%);
}
.arrow_div{
    width: 235px;
    height: 60px;
    top: 277px;
    left: 620px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    position: absolute;
    z-index: 2;

}