.text-content{
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
}
.slider{
    border: 1px solid green;
    position: relative;
    display: flex;
    justify-content: center;
    gap:50px;
    
    flex-direction: column;
}
.slider #heading{
    font-family: Outfit;
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    margin: 0 95px;

}
.card_one{
    width: 314px;
    height: 295px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.slide-parent{
    top: 450px;
    position: relative;
}
.slider-img-div{
    width: 314px;
    height: 210px;
    border-radius: 23px ;
    position: relative;
}
.slide-img-div{
    position: relative;
    border-radius: 23px ;
    overflow: hidden;
}
.slide-img-div img:hover{
    transition: all linear 400ms;
    scale: 1.1;
}
#logoImage{
    position: absolute;
    left: 258px;
    top: 8px;
    z-index: 2;
}

.slide-btn{
    display: flex;
    gap: 12px;
}
.slide-btn .slide-task{
    background: #D0E4E4;
    width: auto;
    height: 36px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 30px;
   
}

.slide-task p{
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;

}

.slideContainer{
    display: flex;
    justify-content: space-between;
    width: 1376px;
    height: 295px;
    margin: 0 auto;
    position: relative;
}
.chevron-left , .chevron-right{
    position: absolute;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 27px;
    top: 25%;
    color: transparent;
    background-color: rgb(223, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chevron-left{
    left: -25px;
}
.chevron-right{
    right: -25px;
}
.s2{
    top:600px
}
.s3{
    top:850px
}
