.headText{
    width: 812px;
    height: 256px;
    top: 186px;
    gap: 32px;
    opacity: 0px;
    position: relative;;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
   
}
.headMainText{
    font-family: Outfit;
    font-size: 52px;
    font-weight: 600;
    line-height: 65.58px;
    text-align: center;
}
.headSecondText{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #919095;
}
.getting-btn{
    width: 158px;
    height: 48px;
    padding: 8px 20px 8px 20px;
    gap: 8px;
    border-radius: 24px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25rem;
}
.elp1 img{
    z-index: -2;
    width: 638px;
    height: 638px;
    top: -50px;
    left: -368px;
    gap: 0px;
    opacity: 0px;
    position:absolute;
}
.elp2 img{
    z-index: -2;
    position: absolute;
    width: 600px;
    height: 600px;
    top: -285px;
    right: -410px;
    gap: 0px;
    opacity: 0px;

}